<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Networking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAAC24A11C5EEAEC0064986F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAAC24B81C5EEAED0064986F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAAC24C31C5EEAED0064986F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
